/*主体颜*/
$primary-blue: #126DB5;
$light-blue: lighten($primary-blue, 25%);


/*公共样式*/
  //占位符颜色
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(9, 53, 88, 0.5);
  }
  a {
    text-decoration: none;
  }

  .card{
    padding: 0;
  }
  //颜色
  .bg-blue{
    background-color: $primary-blue;
  }
  .button.button-positive{
    background-color: $light-blue;
    &.activated{
      background-color: $primary-blue;
    }
  }
  .light-blue{
    background-color: $light-blue;
  }
  //导航文字颜色
  .bar-light .button.button-clear,.bar.bar-light .title{
    color: $primary-blue;
  }
  //提示框
  .popup{
    .popup-buttons{
      padding:0;
      min-height: 30px;
      border-top: 1px dashed $light-blue;
      .button{
        border-radius: 0;
      }
    }
    .popup-head{
      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      .popup-title{
        color: $primary-blue;
        font-size: 16px;
      }
    }
  }
  //侧边弹出框
  .modal-backdrop-bg{
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .hide .modal-backdrop-bg{
    background-color: rgba(0, 0, 0, 0);
  }
  .active .modal-backdrop-bg{
    background-color: rgba(0, 0, 0, 0.2);
  }
  .slide-in-left {
    box-shadow: 0 0 80px;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); };

  .slide-in-left.ng-enter,
  .slide-in-left > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

  .slide-in-left.ng-enter-active,
  .slide-in-left > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  .slide-in-left.ng-leave,
  .slide-in-left > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; }



/*登录注册页面样式*/
.login-wrapper {
  background-color: $primary-blue;
  .card {
    border-radius: 8px;
    .item {
      background: none;
      height: 60px;
      border: none;
      border-bottom: 1px dashed $light-blue;
      &.item:last-child {
        border: none;
      }
      .icon {
        margin-top: 15px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        color: $primary-blue;
        background-color: #fff;
        border-radius: 50%;
      }
      input {
        height: 100%;
        font-size: 16px;
        background: none;
      }
      .iot-icon-a {
        padding: 0 20px;
        border-left: 1px dashed $light-blue;
        right: 80px;
        background: none;
        border-radius: 0;
        font-size: 16px;
        color: $light-blue
      }
      .iot-icon-btn {
        width: 112px;
        height: 100%;
        margin-top: 0;
        display: inline-block;
        right: 0;
        text-align: center;
        line-height: 60px;
        font-size: 18px;
        border-radius: 0;
        color: #fff;
        background: $light-blue;
      }
    }
  }
  .iot-bar-log{
    min-height: 50px;
    line-height: 50px;
    a{
      color: $primary-blue;
      &:first-child{
        border-right: 1px dashed $light-blue;
      }
    }

  }
  div {
    margin: 0 auto
  }
}

/*首页样式*/
  .sideLeft-wrapper{
    .header{
      height: 90px;
      background: darken($primary-blue, 10%);
      display: flex;
      justify-content: left;
      align-items: center;
      .photo{
        width: 60px;
        height: 60px;
        margin: 20px;
        border-radius: 50%;
        border: 1px solid #fff;
        overflow: hidden;
        img{
          width:60px;
        }
      }
      .uName{
        color: #fff;
        font-size: 16px;
      }
    }
  }