@charset "UTF-8";
/*主体颜*/
/*公共样式*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(9, 53, 88, 0.5); }

a {
  text-decoration: none; }

.card {
  padding: 0; }

.bg-blue {
  background-color: #126DB5; }

.button.button-positive {
  background-color: #58acee; }
  .button.button-positive.activated {
    background-color: #126DB5; }

.light-blue {
  background-color: #58acee; }

.bar-light .button.button-clear, .bar.bar-light .title {
  color: #126DB5; }

.popup .popup-buttons {
  padding: 0;
  min-height: 30px;
  border-top: 1px dashed #58acee; }
  .popup .popup-buttons .button {
    border-radius: 0; }
.popup .popup-head {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .popup .popup-head .popup-title {
    color: #126DB5;
    font-size: 16px; }

.modal-backdrop-bg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.hide .modal-backdrop-bg {
  background-color: transparent; }

.active .modal-backdrop-bg {
  background-color: rgba(0, 0, 0, 0.2); }

.slide-in-left {
  box-shadow: 0 0 80px;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.slide-in-left.ng-enter,
.slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left.ng-enter-active,
.slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave,
.slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

/*登录注册页面样式*/
.login-wrapper {
  background-color: #126DB5; }
  .login-wrapper .card {
    border-radius: 8px; }
    .login-wrapper .card .item {
      background: none;
      height: 60px;
      border: none;
      border-bottom: 1px dashed #58acee; }
      .login-wrapper .card .item.item:last-child {
        border: none; }
      .login-wrapper .card .item .icon {
        margin-top: 15px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        color: #126DB5;
        background-color: #fff;
        border-radius: 50%; }
      .login-wrapper .card .item input {
        height: 100%;
        font-size: 16px;
        background: none; }
      .login-wrapper .card .item .iot-icon-a {
        padding: 0 20px;
        border-left: 1px dashed #58acee;
        right: 80px;
        background: none;
        border-radius: 0;
        font-size: 16px;
        color: #58acee; }
      .login-wrapper .card .item .iot-icon-btn {
        width: 112px;
        height: 100%;
        margin-top: 0;
        display: inline-block;
        right: 0;
        text-align: center;
        line-height: 60px;
        font-size: 18px;
        border-radius: 0;
        color: #fff;
        background: #58acee; }
  .login-wrapper .iot-bar-log {
    min-height: 50px;
    line-height: 50px; }
    .login-wrapper .iot-bar-log a {
      color: #126DB5; }
      .login-wrapper .iot-bar-log a:first-child {
        border-right: 1px dashed #58acee; }
  .login-wrapper div {
    margin: 0 auto; }

/*首页样式*/
.sideLeft-wrapper .header {
  height: 90px;
  background: #0d5187;
  display: flex;
  justify-content: left;
  align-items: center; }
  .sideLeft-wrapper .header .photo {
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden; }
    .sideLeft-wrapper .header .photo img {
      width: 60px; }
  .sideLeft-wrapper .header .uName {
    color: #fff;
    font-size: 16px; }

/*# sourceMappingURL=index.css.map */
