<ion-view title="修改密码">
  <ion-nav-bar class="bar-light" align-title="center">
    <ion-nav-back-button class="button-clear" ui-sref="login">
      <i class="icon ion-ios-arrow-back"></i>返回首页
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="login-wrapper">
    <!--<div style="width: 30%;margin-top: 20px">-->
    <!--<img src="images/loginlogo_1@2x.png" width="100%">-->
    <!--</div>-->
    <form name="password_form" ng-submit="save()">
      <div class="list card" style="width: 90%;margin-top:20%">
        <div class="item item-icon-left item-icon-right">
          <i class="icon ion-ios-locked-outline"></i>
          <input type="password" ng-model="form.pwd1" name="pwd1" placeholder="请输入新密码">
        </div>
        <div class="item item-icon-left item-icon-right">
          <i class="icon ion-ios-locked"></i>
          <input type="password" ng-model="form.pwd2" name="pwd2" placeholder="确认密码">
        </div>
      </div>
      <div class="card button-bar iot-bar-log" style="width: 90%;margin-top: 20%">
        <input type="submit" ng-disabled="!(form.pwd1 && form.pwd2)" ui-sref="test" class="button button-positive" value="提交">
      </div>
    </form>

  </ion-content>
</ion-view>
